*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.tags
/*-[0-9][0-9].xml
/.refcache
/.targets.mk
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-ietf-oauth-v2-1.xml
package-lock.json
report.xml
